docker.enabled = true
docker.runOptions = '--platform linux/amd64'


executor {
    name = 'local'
    queueSize = 1  // THIS IS THE KEY: It forces one-by-one execution
}

process {
    executor = 'local'
    
    withName: 'DOWNLOAD_DATA' { 
        container = 'quay.io/biocontainers/sra-tools:2.11.0--pl5262h314213e_0'
    }
    withName: 'RUN_FASTQC' { 
        container = 'quay.io/biocontainers/fastqc:0.11.9--0' 
    }
    withName: 'RUN_FASTP' { 
        container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2' 
    }

    withName: 'PREPARE_REFERENCE|DEHOST_READS' { 
        container = 'quay.io/biocontainers/bowtie2:2.5.5--ha27dd3b_0' 
    }

    withName: 'ALIGN_READS' {
    container = 'quay.io/biocontainers/bowtie2:2.5.5--ha27dd3b_0'
    }
    withName: 'CONVERT_AND_SORT_BAM' {
        container = 'quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
    }
    withName: 'TAXONOMIC_CLASSIFICATION' {
        container = 'quay.io/biocontainers/kraken2:2.17.1--pl5321h077b44d_0'
    }

    withName: 'ASSEMBLE_METAGENOME' { 
        container = 'quay.io/biocontainers/spades:4.2.0--haf24da9_0'
        cpus = 4
        memory = '8 GB'
    }

    withName: 'EVALUATE_ASSEMBLY' {
        container = 'quay.io/biocontainers/quast:5.3.0--py313pl5321h5ca1c30_2'
    }

    withName: 'FUNCTIONAL_ANNOTATION' {
        container = 'quay.io/biocontainers/prokka:1.15.6--pl5321hdfd78af_0'
    }

    withName: 'BINNING_METABAT2' { 
        container = 'quay.io/biocontainers/metabat2:2.17--hd498684_0' 
    }

    withName: 'CHECKM_QUALITY' {
        container = 'quay.io/biocontainers/checkm-genome:1.2.5--pyhdfd78af_0'
    }

    

    withName: 'RUN_MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
    }
}